In [3]:
import pandas as pd

#read the dataset with name "Fake_Real_Data.csv" and store it in a variable df
df = pd.read_csv("Fake_Real_Data.csv", encoding= 'unicode_escape')

#print the shape of dataframe
print(df.shape)

#print top 5 rows
df.head(5)

(4309, 2)

                                                Text label
0   Top Trump Surrogate BRUTALLY Stabs Him In The...  Fake
1  U.S. conservative leader optimistic of common ...  Real
2  Trump proposes U.S. tax overhaul, stirs concer...  Real
3   Court Forces Ohio To Allow Millions Of Illega...  Fake
4  Democrats say Trump agrees to work on immigrat...  Real

In [4]:
#check the distribution of labels 
df['label'].value_counts()

Fake    2176
Real    2132
Name: label, dtype: int64

In [5]:
#Add the new column which gives a unique number to each of these labels 
df['label_num'] = df['label'].map({'Fake' : 0, 'Real': 1})

#check the results with top 5 rows
df.head(5)

                                                Text label  label_num
0   Top Trump Surrogate BRUTALLY Stabs Him In The...  Fake        0.0
1  U.S. conservative leader optimistic of common ...  Real        1.0
2  Trump proposes U.S. tax overhaul, stirs concer...  Real        1.0
3   Court Forces Ohio To Allow Millions Of Illega...  Fake        0.0
4  Democrats say Trump agrees to work on immigrat...  Real        1.0

In [6]:
import spacy
nlp = spacy.load("en_core_web_lg")
#This will take some time(nearly 15 minutes)
df['vector'] = df['Text'].apply(lambda text: nlp(text).vector)  
df.head()

,Text,label,label_num,vector
0,Top Trump Surrogate BRUTALLY Stabs Him In The...,Fake,0.0,"[-0.733592, 1.3932661, -2.3667276, -0.38674468..."
1,U.S. conservative leader optimistic of common ...,Real,1.0,"[-2.0003724, 1.0759215, -2.2782626, 1.187139, ..."
2,"Trump proposes U.S. tax overhaul, stirs concer...",Real,1.0,"[-2.1413958, 0.048274275, -2.4735818, 1.022721..."
3,Court Forces Ohio To Allow Millions Of Illega...,Fake,0.0,"[-2.7812982, -0.16120885, -1.609772, 1.3624227..."
4,Democrats say Trump agrees to work on immigrat...,Real,1.0,"[-2.372593, 0.8781783, -2.5173416, 1.2046705, ..."