In [5]:
import pandas as pd
from sklearn.datasets import load_iris
iris=load_iris()
df=pd.DataFrame(iris.data,columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [6]:
# for enabling tab butoon on jupyter notebook
# conda install -c anaconda jedi
# %config Completer.use_jedi = False

In [ ]:
from sklearn.model_selection import train_test_split

In [10]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

y

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal width (cm), Length: 150, dtype: float64

In [ ]:
# iloc[:, -1] it means the last column, but df. iloc[:, :-1] means until the last column.

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)
print(X_train.shape)  
print(X_test.shape)  
  
print(y_train.shape)  
print(y_test.shape)

(105, 3)
(45, 3)
(105,)
(45,)

# iloc an loc
.loc() is a label-based data selection technique, which means we have to pass the name of the row or column to be selected. Input you can use for .loc() are:

A string
A list of strings
Slice notation using strings as the start and stop values
.iloc() is an indexed-based selection technique which means that we have to pass integer index in the method to select a specific row/column. Input you can use for .iloc are:

An integer
A list of integers
Slice notation using integers as the start and stop values
Important to note: iloc() does not include the last element of the range passed in it, unlike .loc()